<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> </ion-buttons>
    <ion-title>Super Heroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let ol of listaHeroes"
      [routerLink]="['/heroes',ol.idHeroe]"
    >
      <ion-avatar slot="start">
        <ion-img [src]="ol.foto"> </ion-img>
      </ion-avatar>
      <ion-label> {{ol.nombre}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      color="danger"
      [routerLink]="['./insertar-heroe']"
      type="button"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
